@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital@1&display=swap');

* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Crimson Text', serif;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    color: white;
}

:root {
    --yellow: #ffc200;
    --yellow-accent: #c79900;
    --black: #131415;
    --grey: #2d3640;
}

.section-container {
    background-color: var(--black);
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 70px 0px;
    width: 95%;
    max-width: 1300px;
}

button {
    background-color: var(--yellow);
    border: 0px solid black;
    outline: none;
    width: 180px;
    height: 40px;
    color: white;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.4s linear;
}

button:hover {
    background-color: var(--yellow-accent);
    transition: all 0.4s linear;
}

.section-title {
    font-weight: 700;
    font-size: 32px;
}

.section-p {
    font-size: 12px;
    font-weight: 300;
}

.section-p-small {
    font-size: 10px;
    font-weight: 300;
}

.header {
    margin: 0 auto;
    max-width: 1700px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 80px 0px 50px;
    background-color: var(--black);
}

.logo-container {
    height: 100px;
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 60%;
}

.navbar,
.navbar-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-list {
    gap: 50px;
}

.navbar a {
    color: white;
    font-size: 22px;
}

.navbar-list li:last-child > a {
    border: 1px solid white;
    font-size: 14px;
    padding: 8px 40px;
    border-radius: 3px;
    transition: all 0.3s linear;
}

.navbar-list li:last-child > a:hover {
    background-color: white;
    color: var(--grey);
    transition: all 0.3s linear;
    font-weight: 700px;
}

#hero {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    padding: 70px 50px;
}

.description-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.text-container {
    max-width: max(40%, 300px);
}

.text-container h1 {
    font-weight: 700;
    font-size: 45px;
    line-height: 45px;
}

.text-container p {
    font-size: 15px;
    font-weight: 300;
}

.hero-img {
    background-image: url(./img/minion.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 250px;
    width: 30%;
    height: 350px;
    border-radius: 5px;
}

/* ABOUT US */

#about-us {
    gap: 15%;
    flex-wrap: wrap;
}

.about-img {
    background-image: url(./img/minion.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
     height: 250px;
     width: 300px;
     border-radius: 5px;
}

.about-container {
    height: 250px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.adress {
    font-weight: 700;
}

.about-cards-container {
    display: flex;
    gap: 30px;
}

.about-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    height: 60px;
    width: 100px;
    border-radius: 5px;
}

.about-card span {
    font-weight: 700;
    font-size: 20px;
}

#speakers {
    flex-direction: column;
    gap: max(120px, 10%);
}

.title-container {
    display: flex;
    justify-content: space-around;
    gap: 25%;
    width: 100%;
}

.speakers-cards-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75%;
    gap: 90px;
}

.speakers-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--grey);
    text-align: center;
    width: 250px;
    height: 160px;
    position: relative;
    padding-top: 50px;
}

.speakers-card-img {
    display: flex;
    align-items: center;
}

@media (max-width: 992px) {
    .hero-img {
        display: none;
    }

    .description-container {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .text-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 768px) {
    #about-us {
        flex-direction: column;
        gap: 20px;
    }
}

